.title_box {
  padding: 16px;
  border: 1px solid black;
  border-radius: 16px;
  margin-bottom: 20px;
}
.title {
  text-shadow: 4px 1px whitesmoke;
  text-transform: capitalize;
}
.text {
  font-style: italic;
  font-weight: 500px;
}
